<% if current_user == wiki.user || current_user.admin? %>
  <h4>Collaborators</h4>
    <ul>
    <% wiki.collaborators.each do |c| %>
      <li><%= c.user.email %> | <%= link_to "Remove", [wiki, c], method: :delete, class: 'small' %></li> 
    <% end %>
    </ul>
<% elsif wiki.users.include?(current_user) %>
  <h4>Collaborators</h4>
    <ul>
    <% wiki.collaborators.each do |c| %>
      <li><%= c.user.email %></li> 
    <% end %>
    </ul>
<% else %>
<% end %>


<% if current_user == wiki.user || current_user.admin? %>
<h4>Add Collaborators</h4>
  <ul>
    <% User.all.each do |u| %>
      <li><%= u.email %> | <%= link_to "Add", wiki_collaborators_path(wiki, user_id: u.id), method: :post, class: 'small' %></li>
    <% end %>
  </ul>
<% else %>
<% end %>