<%= form_for @wiki do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki information." %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  
    <% if current_user.admin? || (current_user == wiki.user && current_user.premium?) %>
        <%= f.label :private, class: 'checkbox pull-right' do %>
          <%= f.check_box :private %> Make Wiki Private
        <% end %>
    <% end %>
  </div>
  <div class="form-group">
  <% if current_user || current_user.admin? %>
    <%= render 'collaborators/collaborator_form', wiki: @wiki %>
  <% end %>
</div>
<% end %>
